<a href="https://colab.research.google.com/github/temple17/self-review/blob/main/California_housing_price_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
import pandas as pd
import numpy as np

In [55]:
housing_trset = pd.read_csv('/content/drive/MyDrive/EDA/housing_trset.csv')
housing_labels = pd.read_csv('/content/drive/MyDrive/EDA/housing_labels.csv')

In [45]:
# housing_trset = housing_trset.to_numpy()
# housing_labels = housing_labels.to_numpy()

In [56]:
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression()

lin_reg.fit(housing_trset, housing_labels)

LinearRegression()

In [57]:
from sklearn.metrics import mean_squared_error

housing_predictions = lin_reg.predict(housing_trset)
lin_mse = mean_squared_error(housing_labels, housing_predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

3811.358722571182

In [58]:
from sklearn.tree import DecisionTreeRegressor

tree_reg = DecisionTreeRegressor(random_state=42)
tree_reg.fit(housing_trset, housing_labels)

DecisionTreeRegressor(random_state=42)

In [59]:
housing_predictions = tree_reg.predict(housing_trset)
tree_mse = mean_squared_error(housing_predictions, housing_labels)
tree_rmse = np.sqrt(tree_mse)
tree_rmse

0.0

# DecisionTree Overfitting Problem
=> Use K-fold cross_validation : validation set

In [60]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(tree_reg, housing_trset, housing_labels,
                         scoring = 'neg_mean_squared_error', cv = 10)
tree_rmse_scores = np.sqrt(-scores)

In [61]:
def display_scores(scores):
    print('Scores:', scores)
    print('Mean:', scores.mean())
    print('Standard deviation:', scores.std())

In [62]:
display_scores(tree_rmse_scores)

Scores: [3298.45222087 3248.2288259  3221.63665024 3293.5332563  3216.89188463
 3059.46878004 3273.29332404 3177.72117783 3150.25806934 3320.38681219]
Mean: 3225.9871001378383
Standard deviation: 75.73113059172952

In [63]:
some_labels = housing_labels.iloc[:5]

In [64]:
print(list(some_labels))

['Unnamed: 0', 'median_house_value']

In [68]:
housing_trset.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,-1.340092,1.011573,1.882745,-0.530774,-0.496959,-0.653518,-0.501793,-0.126779,-0.015111,-0.256693,-0.074943,0.164979,0.0,0.0,0.0,1.0,0.0
1,-1.369974,2.286917,-1.072119,-0.044358,-0.215123,-0.056208,-0.090156,-0.189509,-1.010325,0.017555,-0.014879,-0.649062,0.0,1.0,0.0,0.0,0.0
2,0.652063,-0.766461,1.483439,-0.623535,-0.513538,0.165277,-0.460108,-1.383349,-0.785994,-0.617877,0.159394,0.689790,1.0,0.0,0.0,0.0,0.0
3,0.821397,-0.845588,0.764689,-0.601845,-0.655640,-0.669214,-0.582557,-0.243505,0.276520,-0.266634,-0.059439,-0.265503,1.0,0.0,0.0,0.0,0.0
4,-0.702602,0.890555,-0.113784,-0.782289,-0.861689,-0.862795,-0.869140,-0.661894,-0.644258,0.060440,-0.037606,-0.432822,0.0,1.0,0.0,0.0,0.0

In [69]:
lin_scores = cross_val_score(lin_reg, housing_trset, housing_labels,
                             scoring = 'neg_mean_squared_error', cv=10)
lin_rmse_scores = np.sqrt(-lin_scores)                             
display_scores(lin_rmse_scores)

Scores: [3759.12859078 3827.90707962 3923.76013318 3931.49025137 3839.74323459
 3827.16681757 3748.57304555 3701.55009551 3700.6800582  3889.9331002 ]
Mean: 3814.9932406552703
Standard deviation: 80.87932409735018